h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 40px;
    
}

form {
    width: 300px;
    margin: 0 auto;
    
}

input[type="text"], input[type="email"], input[type="textarea"] {
    width: 98%;
}

radio {
    width: 90%;
}

legend {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 15px;
    
}

label {
    font-family: monospace;
}

input[type="submit"] {
    padding: 5px;
    width: 63px;
    margin-top: 20px;
    font-family: monospace;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: gold;
    
}

select {
    background-color: lightgrey;
    width: 43px;
}

fieldset {
    margin: 10px 0 10px 0;
}

a {
    color: grey;
    font-family: monospace;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
}

