body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    font-size: 7em;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 0;
}

figure {
    text-align: center;
}

figure > figcaption > span {
    font-style: italic;
}

img {
    border: 2px solid #c6d9f1;
    height: 230px;
    
}
figcaption {
    font-weight: bold;
    padding: 15px 0 40px 0;
    font-size: smaller;
}

.blueberry {
    text-align: center;
    width: 220px;
    padding: 20px;
    margin: 0 auto;
    border-top: 1px solid black;
    background-color: #c6d9f1;
    font-size: 30px;
    
    
}
.blueberry > span {
    font-style: italic;
    display: block;
    font-size: 15px;
    
}
.cloudberry {
    text-align: center;
    margin: 0 auto;
    width: 220px;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #fde9d9;
    font-size: 30px;
}

.cloudberry > span {
    font-style: italic;
    display: block;
    font-size: 15px;
}
.lingonberry {
    text-align: center;
    margin: 0 auto;
    width: 220px;
    padding: 20px;
    border-bottom: 1px solid black;
    background-color: #d99594;
    font-size: 30px;
}
.lingonberry > span {
    font-style: italic;
    display: block;
    font-size: 15px;
}