body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(250,255,254);
}

h2, h1 {
    color: rgba(65,105,225,0.8);
    font-weight: bold;
}

h1 {
    color: rgba(65,105,225,0.8);
    font-weight: bold;
    font-size: 3.0em;
}

ul, ol {
    font-size: 90%;
    border: 1px solid black;
}

li {
    color: rgb(77,77,77);
}

p, ul, ol {
    margin-left: 40px; 
}

figcaption {
    font-size: 0.7em;
    font-weight: bold;
}

p.copyright_notice {
    font-size: 0.8em;
}

#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}

.coding {
    font-family: monospace;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}