body {
    margin-left: 100px;
    margin-right: 100px;
}

#imgplace {
    float: left;
    width: 200px;
    margin-left: 0;
}

img {
    width: 200px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 30px;
}

h2 {
    color: violet;
}

#header2 {
    margin-top: 50px;
}

#headerblock {
    display: block;
    text-align: center;
    margin-top: 60px;
    border-top: 2px solid black;
    padding-top: 40px;
}

#header3 {
    text-align: center;
}
header p {
    text-align: justify;
}

table {
    margin: 0 auto;
}

h4 {
    text-align: center;
}

div ul {
    margin: 0 auto;
    width: 90px;
    list-style-type: square;
}

p {
    text-align: center;
}

