p {
    text-align: center;
}

caption {
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid black;
    border-bottom: 2px solid grey;
}

table {
    border: 1px solid black;
    margin: 0 auto;
}

#property1 {
    font-weight: bold;
    border-right: 2px solid grey;
}

#property2 {
    font-weight: bold;
    background-color: lightgrey;
    border-right: 2px solid grey;
}
#raminfo {
    background-color: lightgrey;
}

#rominfo {
    border-bottom: 1px solid black;
}
#rominfo td {
    border-bottom: 1px solid black;
}

#romprop {
    font-weight: bold;
    border-right: 2px solid grey;
    border-bottom: 1px solid black;
}

th {
    background-color: red;
    color: white;
}

#properties {
    background-color: red;
    color: white;
    text-transform: uppercase;
    border-right: 2px solid grey;
}